<div class="introduction text-white text-center">
    <div class="call-to-action-area">
        {{#fade-in-images}}
            <img src="/assets/images/ki-main-logo-transparent.png" alt="Kitchens International - The Art of the Kitchen">
            <h1>The Art of Kitchen</h1>
        {{/fade-in-images}}
        <a href="{{model.content.callToActionLink}}" class="btn btn-outline-secondary my-4">{{model.content.callToAction}}</a><br>
        {{fa-icon "chevron-down" size="lg"}}
    </div>
</div>
<div class="container home-container">
    <div class="card mb-5">
        {{image-carousel id="carousel" images=model.content.carouselImages class="carousel-home"}}
        <div class="card-block d-flex justify-content-center">
            <div class="col col-sm-8 text-center py-3">
                <h3 class="card-title font-weight-bold mb-0">{{model.content.splashHeading}}</h3>
                <hr>
                {{markdown-to-html model.content.splashContent class="card-text"}}
                {{#contact-form-button class="btn btn-outline-primary my-4 button-on-gray" form-id="contact-form"}}{{model.content.splashActionTitle}}{{/contact-form-button}}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {{#each model.projects as |project|}}
            <div class="col-12 col-md-12">
                <div class="d-flex align-items-center img-background img-tinted mb-4" style={{background-image project.featuredImage.file.url}}>
                    <div class="col text-center">
                        {{#link-to 'project' project.slug class="btn btn-outline-secondary"}}{{project.name}}{{/link-to}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{!-- <section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col col-sm-10 col-md-8 py-5 my-3 text-center text-lg">
            {{markdown-to-html model.content.introduction}}
        </div>
    </div>
</section> --}}
